{% extends 'main/header.html' %}

{% block content %}

<div class="container">

{%for photo in photos%}

<hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{photo.url}}" alt="">
          </a>
    </div>

{%endfor%}

<div class="form">
    <form action="." method="POST">
            <div class="form-group">
    {% csrf_token %} 
    {{form.as_p}}
     <button class="btn btn-primary" type="submit">Post!</button>
     </form>
    </div>
     {%endblock%}