{% extends 'main/header.html' %}

{% block content %}

{%for entry in entries%}

<div class="media">
    <a href="{%url 'main:username' username=entry.user.username %}"> 
    <img class="mr-3" src="{{entry.user.userprofile.avatar.url}}" alt="{{entry.user.username}}" title="{{entry.user.username}}" width="32" height="32"/>
    </a>
    <img src="/static/images/add_star.gif" tabindex="0" alt="Add Star" title="Add Star" class="hatena-star-add-button" style="cursor: pointer; margin: 0px 3px; padding: 0px; border: none; vertical-align: middle;">
    <div class="media-body">
    <a href="{%url 'main:keyword' keyword=entry.keyword %}">
    <h2 class="title mt-0">{{entry.keyword}}</h2>
    </a>
    </div>
    </div>
    <font style="vertical-align: inherit;">{{entry.content}}</font>
    <div class="info">
    <span class="username">by <a href="{%url 'main:username' username=entry.user.username %}">{{entry.user.username}}</a> </span> <span class="timestamp"> <time datetime="{{entry.created_at}}">{{entry.created_at}} </time> </span>
    </div>
    <i class="fa fa-comment"></i>
    <span class="star-count" tabindex="0" style="font-weight: bold; font-size: 80%; font-family: arial, sans-serif; margin: 0px 2px; color: rgb(244, 177, 40); cursor: pointer;">{{entry.star.count}}</span>
    {%endfor%}
        <div class="pagination">
                <span class="step-links">
                    {% if results.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ results.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ results.number }} of {{ results.paginator.num_pages }}.
                    </span>
            
                    {% if results.has_next %}
                        <a href="?page={{ results.next_page_number }}">next</a>
                        <a href="?page={{ results.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {%endblock%}
